<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Прогнозирование размеров сварного шва</title>
</head>
<body>
    <h1>Прогнозирование размеров сварного шва при электронно-лучевой сварке
тонкостенных конструкций аэрокосмического назначения</h1>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <form action="" method="post">
        <p>
            <label for="iw">Величина сварочного тока (IW)</label>
            <input type="number" name="iw">
        </p>
        <p>
            <label for="vw">Скорость сварки (VW)</label>
            <input type="number" name="vw">
        </p>
        <p>
            <label for="fp">Расстояние от образцов до поверхности (FP)</label>
            <input type="number" name="fp">
        </p>
        <p>
            <input type="submit">
        </p>

    </form>
</body>
</html>